{% extends "base.html" %}

{% import "components/cards.html" as card %}
{% import "components/forms.html" as form %}

{% block title %}Events{% endblock %}

{% block headerTitle %}Events{% endblock %}
{% block header %}
  <button class="btn btn-primary" @click="open = !open">Create Event</button>
{% endblock %}

{% block contentAttributes %}x-data="{ open: false }"{% endblock %}

{% block content %}
  <div x-data="eventsData()" x-init="getEvents()" id="events-page">
    <!-- Content -->
    <div id="events-content">
      <div class="events-filters">
        <button 
        class="events-filter-btn btn btn-light" 
        :class="!showAllEvents || 'events-filter-btn-active'"
        @click="getEvents(); showAllEvents = true"
        >
        All events
      </button>
      <button 
        class="events-filter-btn btn btn-light" 
        :class="showAllEvents || 'events-filter-btn-active'"
        @click="getUpcomingEvents(); showAllEvents = false"
      >
        Upcoming
      </button>
      </div>
      <div>
        <h2>List</h2>
    
        <div class="list list-events">
          <template x-for="event in events">
            <a :href="`/events/${event.id}`" class="card card-event">
              <span class="card-event-date" x-text="`${formatDate(event.date.date)} ${event.startTime} - ${event.endTime}`"></span>
              <h3 class="card-event-title" x-text="event.name"></h3>
              <p class="card-event-description" x-text="event.description"></p>
            </a>
          </template>
        </div>
      </div>
    </div>

    <!-- Create Event Form -->
    <div x-show="open" id="events-form" class="toggleable-menu card">
      <div class="toggleable-menu-header">
        <h3 class="events-form-title">Create Event</h3>
        <button class="toggleable-menu-close btn btn-primary" @click="open = !open">close</button>
      </div>

      <form id="form-event-create" class="form-event" method="post" @submit.prevent="addEvent" accept-charset="UTF-8">
        {{ form.input("name", {label: "Name", placeholder:"Name", required: true}) }}
        {{ form.textarea("description", {label: "Description", placeholder:"Type your event description here..."}) }}
        {{ form.input("date", {label: "Date", type: "date", required: true}) }}
        <div class="form-cols-2">
          {{ form.input("startTime", {label: "Start time", placeholder:"Start time"}) }}
          {{ form.input("endTime", {label: "End time", placeholder:"End time"}) }}
        </div>
        {{ form.input("location", {label: "Location", placeholder:"Location", required: true}) }}
        {{ form.input("image", {label: "Image", type: "file"}) }}
        {{ form.submit('Create') }}
      </form>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ 'js/events.js'|asset }}"></script>
{% endblock %}
