{% extends "base.html" %}

{% import "components/cards.html" as card %}
{% import "components/forms.html" as form %}
{% import "components/misc.html" as misc %}

{% block title %}Event - {{event.name}}{% endblock %}

{% block headerTitle %}Event detailpage{% endblock %}
{% block header %}
  <button class="btn btn-primary" @click="open = !open">Edit Event</button>
{% endblock %}

{% block contentAttributes %}x-data="{ open: false }"{% endblock %}

{% block content %}
  <div id="events-page">
    <!-- Content -->
    <div id="events-content">
      <div class="card card-event-detail">
        {{ misc.keyValue("Name", event.name)}}
        {{ misc.keyValue("Description", event.description)}}
        {{ misc.keyValue("Date", event.date|date('d/m/Y'))}}
        <div class="form-cols-2">
          {{ misc.keyValue("Start time", event.startTime)}}
          {{ misc.keyValue("End time", event.endTime)}}
        </div>
        {{ misc.keyValue("Location", event.location)}}
        {{ misc.keyValue("Completed", event.completed ? 'Yes' : 'No')}}
        <div class="key-value">
          <span>Image</span>
          <img class="card-event-image" src="{{ event.image_url|asset }}">
        </div>
        
        <div class="button-group">
          <button class="btn btn-primary">Mark completed</button>
          <button class="btn btn-danger">Delete</button>
        </div>
      </div>

      <div>
        <h2>Participants</h2>

        <p>test.test.test</p>
      </div>
    </div>

    <!-- Create Event Form -->
    <div x-show="open" id="events-form" class="toggleable-menu card">
      <div class="toggleable-menu-header">
        <h3 class="events-form-title">Edit Event</h3>
        <button class="toggleable-menu-close btn btn-primary" @click="open = !open">close</button>
      </div>

      <form id="form-event" class="form-event" method="post" @submit.prevent="createEvent" accept-charset="UTF-8">
        {{ form.input("name", {label: "Name", placeholder:"Name", required: true, value:event.name}) }}
        {{ form.textarea("description", {label: "Description", placeholder:"Type your event description here...", value:event.description}) }}
        {{ form.input("date", {label: "Date", type: "date", required: true, value:event.date|date('Y-m-d')}) }}
        <div class="form-cols-2">
          {{ form.input("startTime", {label: "Start time", placeholder:"Start time", value:event.startTime}) }}
          {{ form.input("endTime", {label: "End time", placeholder:"End time", value:event.endTime}) }}
        </div>
        {{ form.input("location", {label: "Location", placeholder:"Location", required: true, value:event.location}) }}
        {{ form.input("file", {label: "File", type: "file"}) }}
        {{ form.submit('Update') }}
      </form>
    </div>
  </div>
{% endblock %}