{% extends "base.html.twig" %}

{% block title %}Events{% endblock %}

{% block content %}
  <h1>{{ event.name }}</h1>
  <p>Event id: {{ event.id }}</p>
  <p>Image Id: {{ event.imageId }}</p>
  <img src="{{ image }}" />
{% endblock %}