{% extends "base.html" %}

{% import "components/cards.html" as card %}
{% import "components/forms.html" as form %}
{% import "components/misc.html" as misc %}

{% block title %}Event - {{event.name}}{% endblock %}

{% block headerTitle %}Event - {{event.name}}{% endblock %}
{% block header %}
  <button class="btn btn-primary desktop-only" @click="open = !open">Edit Event</button>
{% endblock %}

{% block contentAttributes %}x-data="{ open: false }"{% endblock %}

{% block content %}
  <div x-data="eventData()" x-init="setEvent( {{event|json_encode()}} )" id="events-page">
    <!-- Content -->
    <div id="events-content">
      <div class="card card-event-detail">
        <div class="key-value">
          <span>Name</span>
          <p x-text="event.name"></p>
        </div>
        <div class="key-value">
          <span>Description</span>
          <p x-text="event.description"></p>
        </div>
        <div class="key-value">
          <span>Date</span>
          <p x-text="`${formatDate(event.date.date)}`"></p>
        </div>
        <div class="form-cols-2">
          <div class="key-value">
            <span>Start time</span>
            <p x-text="event.startTime"></p>
          </div>
          <div class="key-value">
            <span>End time</span>
            <p x-text="event.endTime"></p>
          </div>
        </div>
        <div class="key-value">
          <span>Location</span>
          <p x-text="event.location"></p>
        </div>
        <div class="key-value">
          <span>Completed</span>
          <template x-if="event.completed">
            <p>Yes</p>
          </template>
          <template x-if="!event.completed">
            <p>No</p>
          </template>
        </div>
        <template x-if="event.image_url">
          <div class="key-value">
            <span>Image</span>
            <img class="card-event-image" src="{{ event.image_url|asset }}">
          </div>
        </template>

        <div class="button-group">
          <button class="btn btn-primary mobile-only" @click="open = !open">Edit event</button>
          <button class="btn btn-danger" @click="showModal">Delete</button>
          <button 
            x-show="! isUserRegisteredInEvent(currentUser.id)"
            class="btn btn-btn-primary" 
            @click="joinEvent(event.id)"
          >
            Join event
          </button>
          <button 
            x-show="isUserRegisteredInEvent(currentUser.id)"
            class="btn btn-btn-primary" 
            @click="leaveEvent(event.id)"
          >
            Leave event
          </button>
        </div>
      </div>

      <div>
        <h2>Participants</h2>

        <div class="list list-users">
          <template x-for="user in event.participants">
            <div class="card card-user">
              <div class="key-value">
                <span>Email</span>
                <p x-text="user.email"></p>
              </div>
              <div class="key-value">
                <span>Name</span>
                <p x-text="formatNameOfUser(user)"></p>
              </div>
              <div class="key-value">
                <span>Last online</span>
                <p x-text="formatLastOnline(user.expiresOn)"></p>
              </div>
              <div class="key-value">
                <span>Role</span>
  
                <p x-text="formatRole(user.roleId)"></p>
              </div>
            </div>
          </template>
        </div>
      </div>
    </div>

    <!-- Create Event Form -->
    <div x-show="open" id="events-form" class="toggleable-menu card">
      <div class="toggleable-menu-header">
        <h3 class="events-form-title">Edit Event</h3>
        <button class="toggleable-menu-close btn btn-primary" @click="open = !open">close</button>
      </div>

      <form id="form-event-update" class="form-event" method="post" @submit.prevent="updateEvent({{event.id}})" accept-charset="UTF-8">
        {{ form.input("name", {label: "Name", placeholder:"Name", required: true, value:event.name}) }}
        {{ form.textarea("description", {label: "Description", placeholder:"Type your event description here...", value:event.description}) }}
        {{ form.input("date", {label: "Date", type: "date", required: true, value:event.date|date('Y-m-d')}) }}
        <div class="form-cols-2">
          {{ form.input("startTime", {label: "Start time", placeholder:"Start time", value:event.startTime}) }}
          {{ form.input("endTime", {label: "End time", placeholder:"End time", value:event.endTime}) }}
        </div>
        {{ form.input("location", {label: "Location", placeholder:"Location", required: true, value:event.location}) }}
        {{ form.input("image", {label: "Image", type: "file"}) }}
        {{ form.submit('Update') }}
        <button class="btn btn-primary" @click.prevent="setEventCompleted(event.id, !event.completed)">Toggle completed</button>
      </form>
    </div>

    <div x-show="isModalOpen" class="overlay">
      <div class="cms-modal modal-delete">
        <h3>Are you sure?</h3>
        <p>Are you sure you want to delete this event?</p>
        
        <div>
          <button class="btn btn-danger" @click="deleteEvent(event.id)">Delete</button>
          <button class="btn btn-primary" @click="hideModal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ 'js/event.js'|asset }}"></script>
{% endblock %}