{% extends "base.html" %}

{% block title %}Events{% endblock %}

{% block headerTitle %}Events{% endblock %}
{% block header %}
  <button class="btn btn-primary">Create Event</button>
{% endblock %}


{% block content %}
  <div>
    <h2>List</h2>

    {% for event in events %}
    <div>
        <h2>{{event.id}}: {{event.name}}</h2>
        <p>{{event.createdOn.date}}</p>
      </div>
      <br><br>
    {% endfor %}
  </div>
  <!-- <form method="post" enctype="multipart/form-data">  
    <label for="name">Name</label>
    <input type="text" id="name" name="name">
    <br>
    <br>
    <label for="name">Image</label>
    <input type="file" id="image" name="image">
    <br>
    <br>
  
    <input type="submit" value="Create event">
  </form> -->
{% endblock %}
