{% extends "base.html" %}

{% import "components/cards.html" as card %}

{% block title %}Dashboard Overview{% endblock %}

{% block headerTitle %}Dashboard{% endblock %}

{% block content %}
  <div x-data="{ events: []}" x-init="events = await (await fetch('api/events/upcoming/2')).json()" class="home-next-events">
    <h2>Next Event(s)</h2>
    <div class="list list-events">
      <template x-for="event in events">
        <a :href="`/events/${event.id}`" class="card card-event">
          <span class="card-event-date" x-text="`${formatDate(event.date.date)} ${event.startTime} - ${event.endTime}`"></span>
          <h3 class="card-event-title" x-text="event.name"></h3>
          <p class="card-event-description" x-text="event.description"></p>
        </a>
      </template>
    </div>
  </div>
{% endblock %}
