{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% import "components/buttons.html" as button %}
{% import "components/forms.html" as forms %}

{% block content %}
  <div class="login">
    <h1>EventStack</h1>
    <form class="form-login" method="post" accept-charset="UTF-8">
      <h2>Login</h2>
      
      <div>
        {{ forms.input("email", "", "Email", "email") }}
        {{ forms.input("password", "", "Password", "password") }}
        {{ forms.submit('Login') }}
      </div>
    
    
      {# {% if errorMessage is defined %}
        <p>{{ errorMessage }}</p>
      {% endif %} #}
    </form>
  </div>
{% endblock %}