{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% import "components/buttons.html" as button %}
{% import "components/forms.html" as forms %}

{% block content %}
  {{ button.primary('testing')}}

  <form method="post" accept-charset="UTF-8">
    <h3><label for="email">Email</label></h3>
    <input id="email" type="text" name="email">
  
    <h3><label for="password">Password</label></h3>
    <input id="password" type="password" name="password">
  
    <!-- <input type="submit" value="Login"> -->
    {{ forms.submit('Login') }}
  
    {# {% if errorMessage is defined %}
      <p>{{ errorMessage }}</p>
    {% endif %} #}
  </form>
{% endblock %}