{% extends "base.html" %}

{% import "components/misc.html" as misc %}

{% block title %}Users{% endblock %}

{% block headerTitle %}Users{% endblock %}

{% block content %}
  <!-- <div x-data="{ users: [], currentUserId: {{ user.id }}, currentUserRoleId: {{ user.roleId }}}" x-init="users = await (await fetch('api/users')).json()" id="users-page"> -->
  <div x-data="usersData()" x-init="getUsers(); setCurrentUser({{user|json_encode()}})" id="users-page">
    <!-- Content -->
    <div id="users-content">
      <div>
        <!-- Options -->
      </div>
      <div>
        <h2>List</h2>
    
        <div class="list list-users">
          <template x-for="user in users">
            <div class="card card-user">
              <div class="key-value">
                <span>Email</span>
                <p x-text="user.email"></p>
              </div>
              <div class="key-value">
                <span>Name</span>
                <p x-text="user.firstName"></p>
              </div>
              <div class="key-value">
                <span>Last online</span>
                <p x-text="formatLastOnline(user.expiresOn)"></p>
              </div>
              <div class="key-value">
                <span>Role</span>
                <template x-if="currentUser.roleId == 3 && user.roleId != 3">
                  <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span x-text="formatRole(user.roleId)"></span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#" @click="changeUserRole(user.id, 1); user.roleId = 1">User</a>
                      <a class="dropdown-item" href="#" @click="changeUserRole(user.id, 2); user.roleId = 2">Admin</a>
                    </div>
                  </div>
                </template>

                <template x-if="currentUser.roleId != 3 || user.roleId == 3">
                  <p x-text="formatRole(user.roleId)"></p>
                </template>
              </div>
            </div>
          </template>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ 'js/users.js'|asset }}"></script>
{% endblock %}