{% macro input(name, label, placeholder = null, type = "text", classes = "") %}
  <div class="form-group {{ classes }}">
    {% if label != "" %}
      <label for="{{ name }}"> {{ label }}</label>
    {% endif %}
    <input placeholder="{{ placeholder }}" type="{{ type }}" class="form-control" id="{{ name }}" name="{{ name }}">
  </div>
{% endmacro %}

{% macro textarea(name, label, placeholder = null, classes = "") %}
  <div class="form-group {{ classes }}">
    <label for="{{ name }}"> {{ label }}</label>
    <textarea type="text" class="form-control" id="{{ name }}" name="{{ name }}" placeholder="{{placeholder}}"></textarea>
  </div>
{% endmacro %}

{% macro submit(label = "Submit", classes = "") %}
  <button type="submit" class="btn btn-primary {{ classes }}">{{label}}</button>
{% endmacro %}