{% macro input(name, options=[]) %}
  <div class="form-group {{ options.class }}">
    {% if options.label != null %}
      <label for="{{ name }}"> {{ options.label }}</label>
    {% endif %}
    <input 
      {% if options.required == true %}required{% endif %} 
      placeholder="{{ options.placeholder }}" 
      type="{{ options.type }}" 
      class="form-control" 
      id="{{ name }}" 
      name="{{ name }}"
      value="{{options.value}}">
  </div>
{% endmacro %}

{% macro textarea(name, options=[]) %}
  <div class="form-group {{ options.classes }}">
    <label for="{{ name }}"> {{ options.label }}</label>
    <textarea 
      type="text" 
      class="form-control" 
      id="{{ name }}" 
      name="{{ name }}" 
      placeholder="{{options.placeholder}}">{{options.value}}</textarea>
  </div>
{% endmacro %}

{% macro submit(label = "Submit", classes = "") %}
  <button type="submit" class="btn btn-primary {{ classes }}">{{label}}</button>
{% endmacro %}